/* GLOBAL */

*, *:before, *:after {
  margin: 0px; 
  padding: 0px; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #666666;
  height: 100%;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}


/* FONTS */

@font-face {
  font-family: Montserrat-Light;
  src: url('../fonts/Montserrat-Light.ttf'); 
}

@font-face {
  font-family: Montserrat-Black;
  src: url('../fonts/Montserrat-Black.ttf'); 
}


/* TEXT CONTAINER */

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 100vh;

  background: #C9D6FF; 
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
  background: linear-gradient(to right, #E2E2E2, #C9D6FF); 
}


/* TEXT */

h3 {
  font-family: Montserrat-Black;
  font-size: 50px;
  color: #111111;
  line-height: 1.2;
  text-transform: uppercase;
  padding-bottom: 5px;
}

p {
  font-family: Montserrat-Light;
  font-size: 30px;
  color: #111111;
  line-height: 1.2;
  padding-bottom: 25px;
}
