*, *:before, *:after {
  margin: 0px; 
  padding: 0px; 
}

body, html {
  color: #fff;
  background-color: #000000;
}

/* Fonts */

@font-face {
  font-family: OpenSans-Bold;
  src: url('./fonts/OpenSans-Bold.ttf'); 
}

@font-face {
  font-family: OpenSans-ExtraBold;
  src: url('./fonts/OpenSans-ExtraBold.ttf'); 
}

h1 {
  font-family: OpenSans-ExtraBold;
  font-size: 40px;
  line-height: 1;
  padding-bottom: 20px;
}

p {
  font-family: OpenSans-Bold;
  font-size: 25px;
  line-height: 1.1;
  padding-bottom: 15px;
}

#last {
	padding-bottom: 0px;
}

a,
a:visited,
a:hover,
a:focus,
a:hover,
a:active { 
  color: white;
  text-decoration: none;
}

#link:hover,
a:hover {
  color:rgb(30, 158, 209); 
  transition: color 100ms linear;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: table;
  width: 85%;
  margin: auto;
}

img {
  width: 2em;
  height: 2em;
  padding-bottom: 25px;
}

/* Social Media Icons */

.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
  padding-top: 30px;
}

.icons li {
	display: inline-block;
	padding: 0 0.8em 0 0;
}

.icons li:last-child {
	padding-right: 0;
}

/* Responsive Design */

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 35px;
    padding-bottom: 35px;
  }
  
  p {
    font-size: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 30px;
    padding-bottom: 35px;
  }
  
  p {
    font-size: 18px;
    padding-bottom: 20px;
  }
}
